/* Variáveis */
:root {
    /* Body */
    --body-background-color: #84e1ad;

    /* Header */
    --header-primary-color: #3ad07d;
    --header-secondary-color: #1a5c38;
    --header-text-color: #f0f8ff;
    --nav-hyperlinks-color: #c3ffdd;

    /* Main */
    --main-background-color: #e8ecee;
    --headings-color: #1d5e3b;
    --section-about-background-color: #c5ebd6;

    /* Footer */
    --footer-background-color: #1a5c38;

    /* Estilos Genéricos */
    --strong-color: #337f54;
    --hyperlink-color: #146637;

    /* Estilos da Barra Vertical */
    --scrollbar-primary-color: #64d095;
    --scrollbar-secondary-color: #44a16e;

    /* Fontes */
    --bebas-font: "Bebas Neue", sans-serif;
}

/* Seleção */
::selection {
    background-color: var(--headings-color);
    color: var(--header-text-color);
}

/* Barra de Rolagem Vertical */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--hyperlink-color);
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, var(--scrollbar-primary-color), var(--scrollbar-secondary-color));
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to top, var(--scrollbar-primary-color), var(--scrollbar-secondary-color));
}

/* Barra de Rolagem Horizontal */
html, body {
    overflow-x: hidden;
}

/* Configuração da Fonte instalada */
@font-face {
    font-family: "Idroid";
    src: url("fontes/idroid.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Declarações Globais */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--body-background-color);
}

header {
    background-image: linear-gradient(to bottom, var(--header-primary-color), var(--header-secondary-color));
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.732);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.616);
    color: var(--header-text-color);
    padding: 2em 0 5px 0;
    text-align: center;
}

header h1 {
    font: 500 3.5em var(--bebas-font);
}

header p {
    margin: 1em 0;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 2.5%;
}

header nav a {
    color: var(--nav-hyperlinks-color);
    text-decoration: none;
    font: 700 1.2em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 12px;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

header nav a:hover {
    transform: scale(1.2);
}


main {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.599);
    background-color: var(--main-background-color);
    border-radius: 0 0 12px 12px;
    max-width: 1000px;
    min-width: 350px;
    margin: auto;
}

main section {
    padding: 1em;
}

main section div#bug-droid-image{
    text-align: center;
}

main section#video {
    background-color: var(--headings-color);
    padding: 2em;
}

main section#video iframe {
    width: 100%;
    height: 75vh;
}

main section#about article {
    background-color: var(--section-about-background-color);
    border-radius: 12px;
}

main section#about article ul {
    font: normal 1.2em Arial;
    margin: 1em 2em;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0px 50px;
}

main section#about ul li {
    list-style-type: "\2B50";
}

main section#about article p:nth-child(5) {
    padding-bottom: 1em;
}

main section#about article h2 {
    background-color: #2fa866;
    color: var(--header-text-color);
    border-radius: 12px 12px 0 0;
    font: 700 1.3em Arial;
    padding: 1em;
}

main section#about article ul div:nth-child(2) {
    width: 50%;
}

main section div.dan-droids {
    background-image: url("imagens/dan-droids.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}

main section div.irina-block {
    background-image: url("imagens/irina-blok.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
}


footer {
    background-color: var(--footer-background-color);
    text-align: center;
    margin-top: 3em;
    padding: 1em;
    color: var(--section-about-background-color);
}

footer p {
    padding: 0;
}

footer p a {
    color: var(--main-background-color);
}



/* Seletores genéricos */
h2, h3 {
    color: var(--headings-color);
}

h2 {
    font: 900 3em "Idroid";
}

h3 {
    background-image: linear-gradient(to right, #c5ebd5, var(--main-background-color));
    font: 800 2em "Idroid";
}

p {
    font: normal 1.2em Arial;
    text-indent: 1em;
    margin: 0.5em;
}

strong {
    color: var(--strong-color);
    font-weight: 900;
}

a {
    color: var(--hyperlink-color);
    text-decoration: none;
    font-weight: bold;
}

main a::after {
    content: "\1F517";
}


/* Media Queries */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }

    header p {
        font-size: 1em;
    }

    header nav a {
        padding: 0;
        font-size: 1em;
    }

    header nav {
        gap: 10px;
    }

    main section h2 {
        font-size: 2em;
    }

    main section h3 {
        font-size: 1.7em;
    }

    main section p {
        font-size: 1em;
    }

    main section div.dan-droids {
        background-image: url("imagens/dan-droids-pq.png");
        height: 70vh;
    }

    main section div.irina-block {
        background-image: url("imagens/irina-blok-pq.jpg");
        height: 65vh;
    }

    main section#video iframe {
        width: 100%;
        height: 40vh;
    }

    main section#video {
        padding: 0.3em;
    }

    main section#about article ul {
        font-size: 1em;
    }
}


@media (max-width: 481px) {
    main section h2 {
        font-size: 1.5em;
    }

    main section h3 {
        font-size: 1.2em;
    }

    main section p {
        font-size: 0.85em;
    }

    main section div.dan-droids {
        height: 40vh;
    }

    main section div.irina-block {
        height: 45vh;
    }
}
